/* Styles for the Advanced Markup assignment. */
nav ul li {
    display:inline;    
} /*makes list elements within unordered lists within nav section, the links in the header and footer of all pages, horizontal */
a.active { /*any link with the class "active"*/
    font-weight: bold;
}
/* TODO: adjust sidebar to look better */
#sidebar {
    width:250px;
    float: right;
    overflow:auto;
    background-color:peachpuff; 
    margin: 20px;
    margin-top:10px;
    padding: 10px;
    display:inline;
}
.poem {
    list-style-type:none;
    margin:15px;
    font-style:none;
}
body {
    width:500;
    margin-top:100px;
    margin-bottom:100px;
    margin-left:100px;
    margin-right:100px;
}
html {
    width:1000px;
    margin-top:50px;
    margin-bottom:50px;
    margin-left: 150px;
    margin-right:50px;
}
p {
  width:700px;
  io-photo {}
}
.bio-photo p {
  font-style:italic;
  float:left;
  width:300;
  margin-top:none;
  margin-bottom:10px;
  margin-left:0px;
  margin-right:10px;
  padding:5px;
  padding-top:none;
  overflow-wrap:auto;
}
img {
  float:left;
  width:350px;
  height:auto;
   margin-top:10px;
  margin-bottom:0px;
  margin-left:0px;
  margin-right:10px;
  padding:none;
}"
#content {
    width: 600px;
    float:none;
    margin:auto;
    margin-right:250px;
    }
.bibliography {
    list-style-type:decimal;
}